 #draggable { width: 150px; height: 150px; padding: 0.5em; }
#accordion{
	margin-top: 50px;
	margin-bottom: 50px;
}
#tags{
	margin-top: 30px;
	margin-bottom: 200px;
}
.ui-controlgroup-vertical {
      width: 150px;
    }
    .ui-controlgroup.ui-controlgroup-vertical > button.ui-button,
    .ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
      text-align: center;
    }
    #car-type-button {
      width: 120px;
    }
    .ui-controlgroup-horizontal .ui-spinner-input {
      width: 20px;
    }